 /* initially based on https://github.com/johnggli/linktree/blob/master/style.css */
 @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

 /* Use underscores for mustache since curly braces cause issues:  {{=__ __=}} */

:root {
    --bgColor: __bgColor__;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Karla', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;    
    font-family: var(--font);
    background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profile-picture {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    /*__#circleProfile__*/
        border-radius: 50%;
    /*__/circleProfile__*/
    margin: 40px auto 20px;
    -webkit-tap-highlight-color: transparent;
}

.profile-name {
    color: var(--accentColor);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    margin-bottom: .5rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.profile-bio {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 0px auto;
}

.link-header {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    font-size: 1rem;
    text-align: center;
    display: block;
    margin: 20px 10px 0px;
    padding: 10px; 
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.link-item {
    position: relative;
    /*__#outlinedButton__*/
        background-color: transparent;
        color: var(--accentColor);
    /*__/outlinedButton__ __^outlinedButton__ */
        background-color: var(--accentColor);
        color: var(--bgColor);
    /*__/outlinedButton__*/

    border: solid var(--accentColor) 2px;
    border-radius: __buttonRadius__px;

    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link-item:hover {
        /*__#outlinedButton__*/
            background-color: var(--accentColor);
            color: var(--bgColor);
        /*__/outlinedButton__ __^outlinedButton__ */
            background-color: transparent;
            color: var(--accentColor);
        /*__/outlinedButton__*/
        
    }
}

/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
