# This workflow is optional, but compiles and minifies before deploying
name: Deploy Github Pages
on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v6
      - name: Build
        run: |
          npm install mustache jsdom @minify-html/node
          node compile.js index.html minify
          rm -rf node_modules
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' # The folder where your build output resides

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4